
.navbar{
  color: aliceblue;
}
.card{
  margin-bottom: 50px;
  height: 600px;
}
.card-text{
  padding-bottom: 50px;
  margin: bottom 50px;
}
.card-img-top{
  height: 286px;
  width: 286px;
}
